n8n/doc-to-json.workflow.json
{
  "name": "Doc → JSON Draft (Blog Helper)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doc-to-json",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f2a0b002-bb02-4002-bbbb-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 320],
      "webhookId": "d082d806-1d9d-442f-b521-86440933b1cb"
    },
    {
      "parameters": {
        "jsCode": "// Accept { docId | docUrl, slug }.\nconst body = $input.first().json.body || $input.first().json;\nlet docId = (body.docId || '').trim();\nconst url = (body.docUrl || '').trim();\nif (!docId && url) {\n  const m = url.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\n  if (m) docId = m[1];\n}\nif (!docId) throw new Error('Provide docId or docUrl');\nconst slug = (body.slug || '').trim();\nif (!slug || !/^[a-z0-9-]+$/.test(slug)) {\n  throw new Error('Provide a valid slug (lowercase letters, numbers, hyphens)');\n}\nreturn [{ json: { docId, slug, filename: slug + '.json' } }];"
      },
      "id": "f2a0b002-bb02-4002-bbbb-000000000002",
      "name": "Parse input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.docId }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mimeType", "value": "text/html" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "f2a0b002-bb02-4002-bbbb-000000000003",
      "name": "Drive: Export Doc as HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 320]
    },
    {
      "parameters": {
        "jsCode": "// Parse the exported HTML into a blog JSON payload.\n//\n// Expected Google Doc structure:\n//   <Article Title>            (Heading 1, or first non-empty line)\n//   META: <SEO meta description>\n//   CATEGORY: <category>       (optional)\n//   IMAGE: <hero image URL>    (optional)\n//   READTIME: 7 min read       (optional)\n//   --- CONTENT ---\n//   <article body>\n//   --- FAQS ---\n//   Q: question one?\n//   A: answer one.\n//\nconst input = $input.first().json;\nlet html = typeof input === 'string' ? input : (input.data || input.body || '');\nif (!html) throw new Error('No HTML returned from Drive export');\n\nhtml = html.replace(/<style[\\s\\S]*?<\\/style>/gi, '');\nconst bodyMatch = html.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\nif (bodyMatch) html = bodyMatch[1];\n\nconst stripTags = (s) => (s || '')\n  .replace(/<[^>]+>/g, '')\n  .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\")\n  .trim();\nconst text = stripTags(html);\n\nlet title = '';\nconst h1 = html.match(/<h1[^>]*>([\\s\\S]*?)<\\/h1>/i);\nif (h1) {\n  title = stripTags(h1[1]);\n} else {\n  title = (text.split('\\n').map(s => s.trim()).find(Boolean)) || '';\n}\n\nconst takeLine = (re) => {\n  const m = text.match(re);\n  return m ? m[1].trim() : '';\n};\nconst metaDescription = takeLine(/META:\\s*([^\\n]+)/i);\nconst category = takeLine(/CATEGORY:\\s*([^\\n]+)/i) || 'General';\nconst image = takeLine(/IMAGE:\\s*([^\\n]+)/i);\nconst readTime = takeLine(/READTIME:\\s*([^\\n]+)/i) || '5 min read';\n\nconst contentSplit = html.split(/---\\s*CONTENT\\s*---/i);\nlet rest = contentSplit[1] || html;\nconst faqSplit = rest.split(/---\\s*FAQS\\s*---/i);\nlet contentHtml = (faqSplit[0] || '').trim();\nconst faqBlock = (faqSplit[1] || '').trim();\n\ncontentHtml = contentHtml.replace(/<p[^>]*>\\s*(META|CATEGORY|IMAGE|READTIME):[^<]*<\\/p>/gi, '');\ncontentHtml = contentHtml.replace(/\\sclass=\"[^\"]*\"/g, '');\ncontentHtml = contentHtml.replace(/<span[^>]*>/g, '').replace(/<\\/span>/g, '');\n\nconst faqText = stripTags(faqBlock);\nconst faqs = [];\nconst lines = faqText.split(/\\n+/).map(l => l.trim()).filter(Boolean);\nlet currentQ = null;\nfor (const line of lines) {\n  if (/^Q[:.]/i.test(line)) {\n    currentQ = line.replace(/^Q[:.]\\s*/i, '').trim();\n  } else if (/^A[:.]/i.test(line) && currentQ) {\n    faqs.push({ q: currentQ, a: line.replace(/^A[:.]\\s*/i, '').trim() });\n    currentQ = null;\n  } else if (faqs.length && !/^Q[:.]/i.test(line)) {\n    faqs[faqs.length - 1].a += ' ' + line;\n  }\n}\n\nconst slug = $('Parse input').first().json.slug;\nconst payload = {\n  title,\n  metaTitle: title,\n  metaDescription,\n  subtitle: metaDescription,\n  category,\n  date: new Date().toLocaleDateString('en-US', { month: 'long', year: 'numeric' }),\n  readTime,\n  image,\n  content: contentHtml,\n  faqs\n};\n\nreturn [{ json: { slug, payload, jsonText: JSON.stringify(payload, null, 2) } }];"
      },
      "id": "f2a0b002-bb02-4002-bbbb-000000000004",
      "name": "Parse Doc → JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 320]
    },
    {
      "parameters": {
        "jsCode": "// Build a Drive multipart/related upload body so a single HTTP POST creates the file.\nconst slug = $json.slug;\nconst filename = $('Parse input').first().json.filename;\nconst jsonText = $json.jsonText;\nconst metadata = {\n  name: filename,\n  mimeType: 'application/json',\n  parents: ['13CFbBbe4SesEhAXF7xCSy1wq6VMRB0Y9']\n};\nconst boundary = 'pblb-' + Date.now() + '-' + Math.random().toString(36).slice(2);\nconst body = [\n  '--' + boundary,\n  'Content-Type: application/json; charset=UTF-8',\n  '',\n  JSON.stringify(metadata),\n  '--' + boundary,\n  'Content-Type: application/json',\n  '',\n  jsonText,\n  '--' + boundary + '--',\n  ''\n].join('\\r\\n');\nreturn [{ json: { slug, filename, contentType: 'multipart/related; boundary=' + boundary, body } }];"
      },
      "id": "f2a0b002-bb02-4002-bbbb-000000000005",
      "name": "Build multipart body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "uploadType", "value": "multipart" },
            { "name": "supportsAllDrives", "value": "true" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "={{ $json.contentType }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.body }}",
        "options": {}
      },
      "id": "f2a0b002-bb02-4002-bbbb-000000000006",
      "name": "Drive: Upload {slug}.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, slug: $('Parse input').first().json.slug, filename: $('Parse input').first().json.filename, fileId: $json.id || null, next: 'Trigger /webhook/publish-blog with this slug to publish.' }) }}",
        "options": {}
      },
      "id": "f2a0b002-bb02-4002-bbbb-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse input", "type": "main", "index": 0 }]]
    },
    "Parse input": {
      "main": [[{ "node": "Drive: Export Doc as HTML", "type": "main", "index": 0 }]]
    },
    "Drive: Export Doc as HTML": {
      "main": [[{ "node": "Parse Doc → JSON", "type": "main", "index": 0 }]]
    },
    "Parse Doc → JSON": {
      "main": [[{ "node": "Build multipart body", "type": "main", "index": 0 }]]
    },
    "Build multipart body": {
      "main": [[{ "node": "Drive: Upload {slug}.json", "type": "main", "index": 0 }]]
    },
    "Drive: Upload {slug}.json": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
