frontend/public/n8n/publish-blog.workflow.json
{
  "name": "Publish Blog → palmbaylots-land.com",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publish-blog",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "916a0729-305d-450a-8611-b38cdd5875a5"
    },
    {
      "parameters": {
        "jsCode": "// Validate webhook payload — must include slug.\nconst body = $input.first().json.body || $input.first().json;\nconst slug = (body.slug || '').trim();\nif (!slug) throw new Error('Missing required field: slug');\nif (!/^[a-z0-9-]+$/.test(slug)) {\n  throw new Error('Invalid slug \"' + slug + '\" — lowercase letters, numbers, and hyphens only');\n}\nreturn [{ json: { slug, filename: slug + '.json' } }];"
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000002",
      "name": "Validate slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "=name='{{ $json.filename }}' and '13CFbBbe4SesEhAXF7xCSy1wq6VMRB0Y9' in parents and trashed=false" },
            { "name": "fields", "value": "files(id,name,mimeType)" },
            { "name": "pageSize", "value": "10" },
            { "name": "supportsAllDrives", "value": "true" },
            { "name": "includeItemsFromAllDrives", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000003",
      "name": "Drive: Search file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "jsCode": "// Pick the exact matching file by name.\nconst data = $input.first().json;\nconst files = (data && data.files) || [];\nconst target = $('Validate slug').first().json.filename;\nconst match = files.find(f => f.name === target);\nif (!match) {\n  const found = files.map(f => f.name).join(', ') || '(none)';\n  throw new Error('File \"' + target + '\" not found in Drive folder. Files matched: ' + found);\n}\nreturn [{ json: { fileId: match.id, name: match.name } }];"
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000004",
      "name": "Pick file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "alt", "value": "media" },
            { "name": "supportsAllDrives", "value": "true" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000005",
      "name": "Drive: Download JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 320]
    },
    {
      "parameters": {
        "jsCode": "// Build the API payload. Drive returned the parsed JSON in $json directly.\nconst payload = $input.first().json;\nconst slug = $('Validate slug').first().json.slug;\nif (!payload || typeof payload !== 'object') {\n  throw new Error('Drive file did not return a JSON object');\n}\nconst body = {\n  slug,\n  title: payload.title || '',\n  metaTitle: payload.metaTitle || payload.title || '',\n  metaDescription: payload.metaDescription || payload.subtitle || '',\n  subtitle: payload.subtitle || '',\n  category: payload.category || 'General',\n  date: payload.date || new Date().toLocaleDateString('en-US', { month: 'long', year: 'numeric' }),\n  readTime: payload.readTime || '5 min read',\n  image: payload.image || '',\n  content: payload.content || '',\n  faqs: Array.isArray(payload.faqs) ? payload.faqs : []\n};\nif (!body.title || !body.content) {\n  throw new Error('Drive JSON must include title and content');\n}\nreturn [{ json: body }];"
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000006",
      "name": "Build payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://palmbaylots-land.com/api/blogs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "upsert", "value": "true" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer M-quMx2zP7boDfUQ5jahRdSPJYciiAv4a2-Kt5FC60I" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000007",
      "name": "Publish blog (upsert)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://palmbaylots-land.com/api/blogs/{{ $('Validate slug').first().json.slug }}/reindex",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer M-quMx2zP7boDfUQ5jahRdSPJYciiAv4a2-Kt5FC60I" }
          ]
        },
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000008",
      "name": "Reindex (Google + IndexNow)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, slug: $('Validate slug').first().json.slug, action: $('Publish blog (upsert)').first().json.action, url: 'https://palmbaylots-land.com/blog/' + $('Validate slug').first().json.slug, indexing: 'queued' }) }}",
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000009",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate slug", "type": "main", "index": 0 }]]
    },
    "Validate slug": {
      "main": [[{ "node": "Drive: Search file", "type": "main", "index": 0 }]]
    },
    "Drive: Search file": {
      "main": [[{ "node": "Pick file", "type": "main", "index": 0 }]]
    },
    "Pick file": {
      "main": [[{ "node": "Drive: Download JSON", "type": "main", "index": 0 }]]
    },
    "Drive: Download JSON": {
      "main": [[{ "node": "Build payload", "type": "main", "index": 0 }]]
    },
    "Build payload": {
      "main": [[{ "node": "Publish blog (upsert)", "type": "main", "index": 0 }]]
    },
    "Publish blog (upsert)": {
      "main": [[{ "node": "Reindex (Google + IndexNow)", "type": "main", "index": 0 }]]
    },
    "Reindex (Google + IndexNow)": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
