frontend/public/n8n/publish-blog.workflow.json
{
  "name": "Publish Blog → palmbaylots-land.com",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publish-blog",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "916a0729-305d-450a-8611-b38cdd5875a5"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst slug = (body.slug || '').trim();\nif (!slug) throw new Error('Missing required field: slug');\nif (!/^[a-z0-9-]+$/.test(slug)) {\n  throw new Error('Invalid slug \"' + slug + '\" — lowercase letters, numbers, and hyphens only');\n}\nreturn [{ json: { slug, filename: slug + '.json' } }];"
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000002",
      "name": "Validate slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "'13CFbBbe4SesEhAXF7xCSy1wq6VMRB0Y9' in parents and trashed=false" },
            { "name": "fields", "value": "files(id,name,mimeType)" },
            { "name": "pageSize", "value": "200" },
            { "name": "supportsAllDrives", "value": "true" },
            { "name": "includeItemsFromAllDrives", "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000003",
      "name": "Drive: List folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 320],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst files = (data && data.files) || [];\nconst target = $('Validate slug').first().json.filename;\nconst match = files.find(f => f.name === target);\nif (!match) {\n  throw new Error('File \"' + target + '\" not found in Drive folder 13CFbBbe4SesEhAXF7xCSy1wq6VMRB0Y9. Drive returned ' + files.length + ' file(s) in this folder: [' + files.map(f => f.name).join(', ') + ']. Check filename spelling, case, .json extension, and that the file is in this exact folder.');\n}\nreturn [{ json: { fileId: match.id, name: match.name } }];"
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000004",
      "name": "Pick file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "alt", "value": "media" },
            { "name": "supportsAllDrives", "value": "true" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000005",
      "name": "Drive: Download JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst slug = $('Validate slug').first().json.slug;\nif (!payload || typeof payload !== 'object') {\n  throw new Error('Drive file did not return a JSON object');\n}\nconst body = {\n  slug,\n  title: payload.title || '',\n  metaTitle: payload.metaTitle || payload.title || '',\n  metaDescription: payload.metaDescription || payload.subtitle || '',\n  subtitle: payload.subtitle || '',\n  category: payload.category || 'General',\n  date: payload.date || new Date().toLocaleDateString('en-US', { month: 'long', year: 'numeric' }),\n  readTime: payload.readTime || '5 min read',\n  image: payload.image || '',\n  content: payload.content || '',\n  faqs: Array.isArray(payload.faqs) ? payload.faqs : []\n};\nif (!body.title || !body.content) {\n  throw new Error('Drive JSON must include title and content');\n}\nreturn [{ json: body }];"
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000006",
      "name": "Build payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://palmbaylots-land.com/api/blogs",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "upsert", "value": "true" } ] },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer M-quMx2zP7boDfUQ5jahRdSPJYciiAv4a2-Kt5FC60I" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000007",
      "name": "Publish blog (upsert)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://palmbaylots-land.com/api/blogs/{{ $('Validate slug').first().json.slug }}/reindex",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer M-quMx2zP7boDfUQ5jahRdSPJYciiAv4a2-Kt5FC60I" }
          ]
        },
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000008",
      "name": "Reindex (Google + IndexNow)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, slug: $('Validate slug').first().json.slug, action: ($('Publish blog (upsert)').first().json || {}).action || 'unknown', url: 'https://palmbaylots-land.com/blog/' + $('Validate slug').first().json.slug, indexing: 'queued' }) }}",
        "options": {}
      },
      "id": "f1a0b001-aa01-4001-aaaa-000000000009",
      "name": "Respond: success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 240]
    },
    {
      "parameters": {
        "jsCode": "// Collect the upstream error and emit a structured payload for the error responder.\nconst item = $input.first();\nconst json = item.json || {};\nconst errObj = item.error || {};\n// n8n routes errors with various shapes — extract message from any of them.\nconst msg = errObj.message\n  || (errObj.cause && errObj.cause.message)\n  || json.message\n  || (typeof json.error === 'string' ? json.error : (json.error && json.error.message))\n  || JSON.stringify(json).slice(0, 1000);\nconst sourceNode = errObj.node?.name\n  || (item.error && item.error.context && item.error.context.nodeName)\n  || 'unknown';\nreturn [{\n  json: {\n    ok: false,\n    failedNode: sourceNode,\n    error: msg,\n    receivedSlug: ($('Validate slug').first()?.json || {}).slug || null,\n    debug: {\n      jsonKeys: Object.keys(json),\n      errorKeys: Object.keys(errObj),\n      hasMessage: !!errObj.message\n    }\n  }\n}];"
      },
      "id": "f1a0b001-aa01-4001-aaaa-00000000000a",
      "name": "Format error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 500 }
      },
      "id": "f1a0b001-aa01-4001-aaaa-00000000000b",
      "name": "Respond: error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 460]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate slug", "type": "main", "index": 0 }]] },
    "Validate slug": { "main": [[{ "node": "Drive: List folder", "type": "main", "index": 0 }]] },
    "Drive: List folder": {
      "main": [
        [{ "node": "Pick file", "type": "main", "index": 0 }],
        [{ "node": "Format error", "type": "main", "index": 0 }]
      ]
    },
    "Pick file": {
      "main": [
        [{ "node": "Drive: Download JSON", "type": "main", "index": 0 }],
        [{ "node": "Format error", "type": "main", "index": 0 }]
      ]
    },
    "Drive: Download JSON": {
      "main": [
        [{ "node": "Build payload", "type": "main", "index": 0 }],
        [{ "node": "Format error", "type": "main", "index": 0 }]
      ]
    },
    "Build payload": {
      "main": [
        [{ "node": "Publish blog (upsert)", "type": "main", "index": 0 }],
        [{ "node": "Format error", "type": "main", "index": 0 }]
      ]
    },
    "Publish blog (upsert)": {
      "main": [
        [{ "node": "Reindex (Google + IndexNow)", "type": "main", "index": 0 }],
        [{ "node": "Format error", "type": "main", "index": 0 }]
      ]
    },
    "Reindex (Google + IndexNow)": { "main": [[{ "node": "Respond: success", "type": "main", "index": 0 }]] },
    "Format error": { "main": [[{ "node": "Respond: error", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
